nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-white
  a#headerLogo.navbar-brand(href='/') 
    img.main-logo(src="images/logo.png", alt="logo")
  //- button.navbar-toggler(type='button' data-toggle='collapse' data-target='#headerBox' aria-controls='headerBox' aria-expanded='false' aria-label='Toggle navigation')
  //-   span.navbar-toggler-icon
  #headerBox.navbar-collapse
    ul.navbar-nav.nav-fill
      li(class='nav-item')
        a.nav-link(href="/", title="RealTime") 실시간 자료조회
      li(class='nav-item')
        a.nav-link(href="/info", title="Info") 통계 정보
      li(class='nav-item')
        a.nav-link(href="/support", title="Customer Support") 고객 지원
      li(class='nav-item')
        a.nav-link(href="https://www.airkorea.or.kr/web", title="Site", target="_blank") 공공사이트
      // 게시판 추가
      li(class='nav-item')
        a.nav-link(href="/board", title="Board") 게시판
      li(class='nav-item')
        a.nav-link(href="/dataCheck", title="dataCheck") 측정자료 조회