extends ../layout

block content
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    link(rel='stylesheet', href='/css/board.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css')

    script.
        const goToAddBoard = () => {
            location.href = '/addBoard';
        }

    table.type09(id='List')
        thead
        tr
            th(scope='cols' style="width:10%") nums
            th(scope='cols' style="width:55%") Title
            th(scope='cols' style="width:10%") Views
            th(scope='cols') Date
            th(scope='cols' style="width:10%") Author
        tbody#tbody
            each map in boardDatas
                tr
                    td #{map.nums}
                    td(style="text-align:left")
                        a(href="#" onclick="goToAddBoard()")= map.title
                    td #{map.autor}
                    td #{map.date}
                    td #{map.views}


    div(align="right" style="margin-right:10%;")
        //a(class="btn btn-primary pull-right") 글쓰기
        button.btn.btn-primary(onClick='goToAddBoard()') 글 쓰기

