extends ../layout

block content
    link(rel='stylesheet', href='/css/board.css')

    script.
        const goToAddBoard = () => {
            location.href = '/addBoard';
        }

    table.type09(id='List' class='table table-hover')
        thead
        tr
            th(scope='cols' style="width:10%") 번호
            th(scope='cols' style="width:55%") 제목
            th(scope='cols' style="width:10%") 작성자
            th(scope='cols') 날짜
            th(scope='cols' style="width:10%") 조회수
        tbody#tbody
            each map in boardDatas
                tr
                    td #{map.nums}
                    td(style="text-align:left")
                        a(href="#" onclick="goToAddBoard()")= map.title
                    td #{map.autor}
                    td #{map.date}
                    td #{map.views}


    div(align="right" style="margin-right:10%;")
        //a(class="btn btn-primary pull-right") 글쓰기
        button.btn.btn-primary(onClick='goToAddBoard()') 글 쓰기

