extends ../layout

block content
  link(rel='stylesheet', href='/css/info.css')
  #info-container.container-fluid
    .row.info-title
      .col-12 측정자료 조회
    .row.info-search
      .col-12
        .row
          .col-2 ■ 데이터 구분
          .col-10 
            label
              input#time(type="radio", name="time", checked=true)
              | 시간
            label
              input#day(type="radio", name="time")
              | 일평균
        .row
          .col-2 ■ 조회기간
          .col-10 
            input#startDate(type="text", name="startDate", value="2020-04-24")
            select#startTime(name="startTime")
              option(value="01") 01
            | ~
            input#endDate(type="text", name="endDate", value="2020-04-24")
            select#endTime(name="endTime")
              option(value="11") 11
            button.btn.btn-primary 검색
            button.btn.btn-primary 그래프보기
            button.btn.btn-primary 엑셀
    .row.info-table
      .col-12
        div 측정자료(수치)
        table#info-table
          thead
            tr
              th(rowspan="2") 날짜<br/>(월-일-시)
              th(colspan="2") PM<pre>10</pre><br/>(㎍/㎥)
              th(colspan="2") PM<pre>2.5</pre><br>(㎍/㎥)
            tr
              th(colspan="2") 1시간
              th(colspan="2") 1시간
          tbody
            tr
              td 04-01:24
              td.blue ●
              td 27
              td.green ●
              td 19
            tr
              td 04-01:23
              td.green ●
              td 39
              td.green ●
              td 23
            tr
              td 04-01:22
              td.green ●
              td 41
              td.green ●
              td 20
            tr
              td 04-01:21
              td.green ●
              td 44
              td.green ●
              td 22
            tr
              td 04-01:20
              td.green ●
              td 58
              td.green ●
              td 28
            tr
              td 04-01:19
              td.green ●
              td 75
              td.yellow ●
              td 41
            tr
              td 04-01:18
              td.green ●
              td 76
              td.yellow ●
              td 37
            tr
              td 04-01:17
              td.green ●
              td 72
              td.yellow ●
              td 36
            tr
              td 04-01:16
              td.green ●
              td 56
              td.green ●
              td 29
            tr
              td 04-01:15
              td.green ●
              td 51
              td.green ●
              td 27
            tr
              td 04-01:14
              td.green ●
              td 47
              td.green ●
              td 27
            tr
              td 04-01:13
              td.green ●
              td 38
              td.green ●
              td 23
            tr
              td 04-01:12
              td.green ●
              td 40
              td.green ●
              td 24
        .print-btn
          button.btn.btn-primary 인쇄  

