extends ../layout

block content
  link(rel='stylesheet', href='/css/support.css')
  #support-container.container-fluid
    .row
      .col-6
        img(src="images/info_1.jpg", alt="info_1")
      .col-6
        img(src="images/info_2.jpg", alt="info_2")
