doctype html
html
  head
    meta(name="viewport", content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0")
    link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script(src='/js/datepicker-ko.js')
  body
    include ../views/includes/head.pug
    .container-fluid
      include ../views/includes/header.pug
      .page-header
        block main
      .content
        block content
    include ../views/includes/footer.pug
    include ../views/includes/foot.pug