#realTime-container > div.row {
  justify-content: center;
}

#realTime-container div.mapBox {
  background-color: #deeeff;
  height: 865px;
  padding: 15px;
}

#realTime-container div.mapBox div.map {
  background-image: url('/images/map.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 3px solid #045586;
  width: 100%;
  height: 100%;
}

#realTime-container div.mapBox div.map-icon {
  width: 20px;
  height: 20px;
  left: 40%;
  top: 45%;
  position: absolute;
}

#realTime-container div.mapBox div.map div#map-popup > div {
  background: #fff;
  border: #bdbdbd 1px solid;
  position: absolute;
  left: 25px;
  width: 270px;
  padding: 5px;
  display: flex;
  align-items: center;
}

#realTime-container div.infoBox {
  display: flex;
  align-items: center;
  background: #deeeff;
  margin-left: 50px;
}

#realTime-container div.infoBox div.info {
  background: #fff;
  border: 3px solid #045586;
}

#realTime-container div.infoBox div.info > div.row {
  margin: 15px 0px;
}

#realTime-container div.infoBox div.info div.info-title {
  height: 4vh;
  display: flex;
  align-items: center;
  text-align: center;
}

#realTime-container div.infoBox div.info div.info-title span {
  font-size: 30px;
}

#realTime-container div.infoBox div.info div.info-title button.search-btn {
  font-size: 15px;
  position: absolute;
  top: 4px;
  right: 0px;
}

#realTime-container div.infoBox div.info div.info-circle-chart {
  border: 1px solid #045586;
  height: 200px;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

#realTime-container div.infoBox div.info div.info-circle-chart div#pm2-5-circle {
  position: relative;
  width: 265px;
  height: 160px;
  margin: 0px 10px;
}

#realTime-container div.infoBox div.info div.info-circle-chart div#pm2-5-circle div#dust-circle-chart-text {
  position: absolute;
  left: 0px;
  top: 25px;
  width: 265px;
  height: 265px;
  overflow: hidden;
  background-image: url('/images/dust_circle_chart_text.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#realTime-container div.infoBox div.info div.info-circle-chart div#pm2-5-circle div#ultrafine-circle-chart-text {
  position: absolute;
  left: 0px;
  top: 27px;
  width: 265px;
  height: 265px;
  overflow: hidden;
  background-image: url('/images/ultrafine_circle_chart_text.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#realTime-container div.infoBox div.info div.info-circle-chart div#pm2-5-circle div.circle-chart-needle {
  position: absolute;
  transform: rotate(-90deg);
  left: 5px;
  top: 34px;
  width: 255px;
  height: 255px;
  overflow: hidden;
  background-image: url('/images/pm2_circle_chart_needle.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#realTime-container div.infoBox div.info div.info-circle-chart div#pm2-5-circle-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 50%;
  width: 175px;
}

#realTime-container div.infoBox div.info div.info-line-chart {
  border: 1px solid #045586;
}

#realTime-container div.infoBox div.info div.info-line-chart div#pm2-5-chart {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#realTime-container #dust-value-table {
  width: 100%;
}

#realTime-container #dust-value-table th {
  text-align: center;
  font-size: 20px;
  border: 1px solid;
}

#realTime-container #dust-value-table td {
  text-align: center;
  font-size: 18px;
  border: 1px solid;
}

#realTime-container #dust-value-table td.legend {
  background-color: #deeeff;
  font-weight: bold;
}

#realTime-container #dust-value-table td#dust-hour-icon, #realTime-container #dust-value-table td#ultrafine-hour-icon {
  font-size: 30px;
}

@media (max-width: 1800px) {
  #realTime-container div.infoBox div.info div.info-circle-chart div#pm2-5-circle-text {
    display: none;
  }
}

@media (min-width: 1300px) and (max-width: 1580px), (max-width: 700px) {
  #realTime-container div.infoBox div.info div.info-circle-chart {
    border: 0px solid #045586;
    height: 350px;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
  }

  #realTime-container div.infoBox div.info div.info-circle-chart div#pm2-5-circle {
    position: relative;
    width: 560px;
    height: 173px;
    border: 1px solid black;
    overflow: hidden;
  }

  #realTime-container div.infoBox div.info div.info-circle-chart .small-window-chart-container {
    width: 285px;
    margin: 0px auto;
    position: relative;
  }

  #realTime-container div.infoBox div.info div.info-circle-chart div#pm2-5-circle div.circle-chart-needle {
    left: 16px;
    top: 44px;
  }

  #realTime-container div.infoBox div.info div.info-circle-chart div#pm2-5-circle div#dust-circle-chart-text,
  #realTime-container div.infoBox div.info div.info-circle-chart div#pm2-5-circle div#ultrafine-circle-chart-text {
    left: -4px;
    top: 23px;
    width: 295px;
    background-size: cover;
  }
}

@media (max-width: 1300px) {
  #realTime-container > div.row {
    align-items: center;
  }

  #realTime-container div.mapBox {
    max-width: 800px;
    height: 465px;
    flex: 0 0 100%;
  }

  #realTime-container div.infoBox {
    flex: 0 0 100%;
    max-width: 800px;
    margin: 30px auto;
    padding: 15px;
  }

  #realTime-container #dust-value-table th {
    font-size: 15px;
  }

  #realTime-container #dust-value-table td {
    font-size: 11px;
  }
}
