#realTime-container > div.row {
  justify-content: center;
}

#realTime-container div.mapBox {
  background-color: #deeeff;
  height: 865px;
  padding: 15px;
}

#realTime-container div.mapBox div.map {
  background-image: url('/images/map.png');
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #045586;
  width: 100%;
  height: 100%;
}

#realTime-container div.infoBox {
  display: flex;
  align-items: center;
  background: #deeeff;
  margin-left: 50px;
}

#realTime-container div.infoBox div.info {
  background: #fff;
  border: 3px solid #045586;
}

#realTime-container div.infoBox div.info > div.row {
  margin: 15px 0px;
}

#realTime-container div.infoBox div.info div.info-title {
  height: 4vh;
  display: flex;
  align-items: center;
  text-align: center;
}

#realTime-container div.infoBox div.info div.info-title span {
  font-size: 30px;
}

#realTime-container div.infoBox div.info div.info-title button.search-btn {
  font-size: 15px;
  position: absolute;
  top: 4px;
  right: 0px;
}

#realTime-container div.infoBox div.info div.info-circle-chart {
  border: 1px solid #045586;
  height: 200px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#realTime-container div.infoBox div.info div.info-circle-chart div#pm2-5-circle {
  position: relative;
  min-width: 460px;
  height: 198px;
}

#realTime-container div.infoBox div.info div.info-circle-chart div#pm2-5-circle div#circle-chart-needle {
  position: absolute;
  transform: rotate(-90deg);
  left: 0px;
  top: 0px;
  width: 460px;
  height: 404px;
  overflow: hidden;
  background-image: url('/images/pm2_circle_chart_needle.png');
  background-repeat: no-repeat;
}

#realTime-container div.infoBox div.info div.info-circle-chart div#pm2-5-circle-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 50%;
  width: 175px;
}

#realTime-container div.infoBox div.info div.info-line-chart {
  border: 1px solid #045586;
}

#realTime-container div.infoBox div.info div.info-line-chart div#pm2-5-chart {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#realTime-container #dust-value-table {
  width: 100%;
}

#realTime-container #dust-value-table th {
  text-align: center;
  font-size: 20px;
  border: 1px solid;
}

#realTime-container #dust-value-table td {
  text-align: center;
  font-size: 18px;
  border: 1px solid;
}

#realTime-container #dust-value-table td.legend {
  background-color: #deeeff;
  font-weight: bold;
}

@media (max-width: 1800px) {
  #realTime-container div.infoBox div.info div.info-circle-chart div#pm2-5-circle-text {
    display: none;
  }
}

@media (max-width: 1300px) {
  #realTime-container > div.row {
    align-items: center;
  }

  #realTime-container div.mapBox {
    max-width: 800px;
    height: 465px;
    flex: 0 0 100%;
  }

  #realTime-container div.infoBox {
    flex: 0 0 100%;
    max-width: 800px;
    margin: 30px auto;
    padding: 15px;
  }
}
